<body>
    <div class="bg-primary text-white text-center mb-4 p-4">
        <%= link_to root_path , class: "text-white" do %>
        <h1 class='display-5'> Blog Mainô</h1>
        <%end%>
        <p class="lead"></p>
    </div>
    <div class="container">
        <h1><%=yield%></h1>
    </div>
    <footer class="bg-primary text-white text-center mt-5 p-3"><%= Date.current.year%>
    </footer>
</body>