<!-View para Listar Posts->
    <div class="bg-light">
        <div class="container mt-5 bg-light">
            <p class="text-center bg-light text-dark mb-2 p-4"> Posts mais recentes: </p>
            <% @posts.each do |post| %>
            <div class="card mb-3 h-50 ">
                <div class="card-body text-dark">
                    <h2 class="card-title text-dark"><%= link_to post.title, post, class:"text-dark" %></h2>
                    <p class="card-text"><%= truncate(post.body, lenght: 150) %></p>
                    <%= link_to 'Leia mais', post, class: 'btn btn-info text-dark'%>
                </div>
            </div>
            <%end%>

            <%= will_paginate @posts, renderer: BootstrapPagination::Rails if defined?(BootstrapPagination::Rails) %>

        </div>
    </div>