<h1>Olá, <%= @resource.email %>!</h1>
<p>Você solicitou a redefinição de sua senha.</p>
<p>
    Clique no link abaixo para redefinir sua senha:
    <a href="<%= @token_url %>">Redefinir Senha</a>
</p>
<p>Se você não solicitou isso, ignore este e-mail.</p>